{% extends 'base.html' %}

{% block content %}
    <div id="container">
        <h1>Cenveo Printing Company</h1>
				<p>In the past, Cenveo has relied on quality assurance personnel to hand check anywhere from fifteen to twenty envelopes from each batch in their production facility. These employees have only had the envelopes in front of them and a paper checklist to assess with, but no more. Our project will help aid Cenveo's quality assurance personell using computer-vision technology to assess measurements within acceptable tolerances.
				</p>
                <p>Utilizing computer-vision, our project can accurately read the overall size of an envelope and will measure distances between important features like windows to within <b>TOLERANCE STATISTIC</b>. Quality assurance personal will no longer have to manually measure these distances and will instead free-up significant time to focus on other tasks.</p>
    </div>
{% endblock %}
